<template>
  <div class="container-fluid">
    <h1>Archistar VueBootstrap + VueMapbox Demo</h1>
      <div class="row">
        <div class="col-2" style="background: #ddd">
          <p>Sidebar for Search Filters</p>
        </div>
        <div class="col">
          <div class="map">
            <MglMap
              :accessToken="accessToken"
              :mapStyle.sync="mapStyle"
              :scrollZoom="false"
              :center="mapCenter"
              :zoom="defaultZoom"
              @load="onMapLoaded"
            >
            <MglNavigationControl :showZoom="true" :showCompass="false" />
            <MglMarker
              v-for="marker in payload"
              :coordinates="[marker.lng, marker.lat]"
              :draggable="false"
              :color.sync="markerColor"
              :markerId="marker.id"
              :key="marker.id + '' + markerColor"
              ref="markers"
            >
              <MglPopup>
                <div>
                  <span>{{ marker.id }}</span>
                  <span class="text-sm">{{ marker.label }}</span>
                </div>
              </MglPopup>
            </MglMarker>
          </MglMap>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Mapbox from 'mapbox-gl';
import { MglMap, MglNavigationControl, MglMarker, MglPopup } from 'vue-mapbox';
import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';

export default {
	components: {
		MglMap,
		MglNavigationControl,
		MglMarker,
		MglPopup,
	},
	data() {
		return {
			accessToken: 'pk.eyJ1IjoiY3J5cHRvcGlhIiwiYSI6ImNrZzh0YWp5YjBrZnkydHBnaDZzYnphdjcifQ.3-Hc5HmLzQO7Aayhzu9Mpw',
			defaultZoom: 14,
			mapCenter: [151.209152, -33.87],
			mapStyle: 'mapbox://styles/mapbox/streets-v11',
			markerColor: 'blue',
			counter: 0,
			payload: [],
		};
	},
	methods: {
		onMapLoaded(event) {
			this.map = event.map;
			this.addMarkers();
			this.addGeocoder();
		},
		itemClicked(index) {
			this.$refs['markers'][index].togglePopup();
			this.selectedMarker = index;
			this.$refs.markers.forEach((marker, i) => {
				if (i != index) {
					marker.marker._popup.remove();
				}
			});

			this.$nextTick(() => {
				this.map.panTo(this.$refs['markers'][index].coordinates);
			});
		},
		addMarkers() {
            const axios = require('axios');
			axios.get('https://bitbucket.org/idda/coding-challenges/raw/3d4b01cd8468a83cb173ff30711f637e4d8c3258/testBlob.json').then(resp => {
				let len = resp.data.features.length;
				for (let i = 0; i < len; i++) {
					this.payload.push({
						id: i,
						lat: resp.data.features[i].geometry.coordinates[1],
						lng: resp.data.features[i].geometry.coordinates[0],
						label: resp.data.features[i].properties.project.title,
					});
				}
			});
		},
		removeMarkers() {
			this.payload = [];
			this.counter = 0;
		},
		addGeocoder() {
			this.geocoder = new MapboxGeocoder({
				accessToken: this.mapbox.accessToken,
				maboxgl: this.mapbox,
				marker: false,
			});

			let $this = this;
			this.geocoder.on('result', function() {
				$this.$nextTick(() => {
					$this.addMarkers();
				});
			});
		},
	},
	created() {
		this.map = null;
		this.mapbox = Mapbox;
	},
};
</script>

<style>
.map {
	height: 1000px;
}
@media screen and (min-width: 640px) {
	.mapboxgl-ctrl-geocoder {
		width: 100% !important;
		max-width: 100% !important;
	}
}
</style>