<template>
  <div id="app">
    <HelloMapbox msg="Welcome to my Mapbox Demo App"/>
  </div>
</template>

<script>
import HelloMapbox from './components/HelloMapbox.vue'

export default {
  name: 'App',
  components: {
    HelloMapbox
  }
}

</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
